.personLabelWrapper {
  margin-right: $spacing-xs;
  .personLabel {
    align-self: center;
    padding: $spacing-xs;
    border-radius: 100%;
    &.pf-member {
      background-color: var(--plone-color);
      color: var(--plone-on-color);
    }
    &.keynote-speaker {
      background-color: var(--primary-color);
      color: var(--reverse-color);
    }
    &.speaker {
      background-color: var(--secondary-color);
      color: var(--reverse-color);
    }
    &.instructor {
      background-color: var(--tertiary-color);
      color: var(--reverse-color);
    }
  }
}
