.register {
  h2 {
    padding-top: $spacing-small;
  }
  .register-actions {
    width: 100%;
    margin: $spacing-large auto;
    text-align: center;
    button.registration {
      @include ctaIconButton();
      &.cancel {
        --main-color: red;
      }
    }
  }
}
