.register {
  h2 {
    padding-top: $spacing-small;
  }
  .register-actions {
    width: 100%;
    margin: $spacing-large auto;
    text-align: center;
    button.ui.button.basic.registration {
      @include ctaButton();
      &.register {
        background-color: var(--main-color) !important;
        color: var(--reverse-color) !important;
      }
      &.cancel {
        --main-color: red;
        background-color: var(--main-color) !important;
        color: var(--reverse-color) !important;
      }
    }
  }
}
