graft src/ploneconf
graft docs
graft news
graft tests
graft scripts
include *.acceptance
include .coveragerc
include .dockerignore
include .editorconfig
include *.txt
include *.yml
include *.md
exclude *-mxdev.txt
exclude Dockerfile
exclude mx.ini
exclude Makefile
exclude scripts/.env_local
exclude scripts/.env_live
exclude scripts/.env_stag
exclude scripts/update_streamyard.py
exclude scripts/send_emails.py
exclude scripts/data/*.txt
exclude scripts/data/*.json
recursive-exclude frontend *
exclude instance.yaml
global-exclude *.pyc
global-exclude .DS_Store
