:root {
  --teaser-images-aspect-ratio: #{$teaser-images-aspect-ratio};
  --narrow-container-width: 1024px;
  --default-container-width: 1024px;
  --layout-container-width: 1440px;
  --decoration-background: #f2f4f5;
  --breadcrumbs-text-color: #000;
  --decoration-image: url(./static/bg_image_03.png);
}

a {
  color: $link-color;
  text-decoration: solid;

  &:hover {
    color: $link-color-hover;
    text-decoration: solid;
  }
}

#page-controlpanel-layout {
  max-width: var(--default-container-width);
  margin-right: auto;
  margin-left: auto;
}
